.navbar-default {
    background-color: #2f3e4c;
    border-color: #0c0c0c;
}
.navbar-default .navbar-brand {
    color: #fff;
}
.navbar-default .navbar-brand:hover {
    color: #fff;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: transparent;
}
.col-lg-8.col-lg-offset-2.enturl {
    padding-top: 50px;
}
label.control-label.requiredField {
    display: none;
}
h1.tit {
    text-align: center;
    padding-top: 20px;
}
.col-lg-8.col-lg-offset-2.pdetails {
    padding-top: 50px;
}
.pimg {
    padding-top: 30px;
    padding-bottom: 50px;
}